# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for more info about CODEOWNERS file

* @ian-huu @warriorpaw @rivertalk

sfl/ml/boost/homo_boost/ @ian-huu
tests/ml/boost/homo_boost/ @ian-huu

sfl/distributed/  @zhouaihui @ian-huu
tests/distributed/  @zhouaihui @ian-huu

sfl/ic/ @usafchn

sfl/tune/ @ian-huu
tests/tuner/ @ian-huu

examples @ian-huu @rivertalk
