# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.8
    hooks:
      # Run the formatter.
      - id: ruff-format
        name: ruff format
        description: Format code with Ruff
        types_or: [python, pyi]
      # Run the linter.
      - id: ruff
        name: ruff check
        description: Lint code with Ruff
        types_or: [python, pyi]
        args: [--fix]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
